body {
    padding: 20px;
    background-color: rgb(92, 95, 97);
    font-family: sans-serif;
  }
  /* #container {
    display: flex;
    justify-content: center;
  } */

/* RTL Support for Modals */
[dir="rtl"] .modal-header {
  flex-direction: row-reverse;
  text-align: right;
}

[dir="rtl"] .modal-header .btn-close {
  margin-left: 0 !important;
  margin-right: auto !important;
  padding-right: 0;
  padding-left: 0.5rem;
}

[dir="rtl"] .modal-title {
  text-align: right;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0.5rem;
  flex: 1;
}

[dir="rtl"] .modal-body {
  text-align: right;
}

[dir="rtl"] .modal-footer {
  flex-direction: row-reverse;
}

[dir="rtl"] .modal-footer > * {
  margin-left: 0 !important;
  margin-right: 0.25rem !important;
}

[dir="rtl"] .modal-footer > *:first-child {
  margin-right: 0 !important;
}

/* RTL Support for Forms */
[dir="rtl"] .form-label,
[dir="rtl"] label {
  text-align: right;
  display: block;
}

[dir="rtl"] .form-control,
[dir="rtl"] .form-select,
[dir="rtl"] input,
[dir="rtl"] select,
[dir="rtl"] textarea {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .form-text {
  text-align: right;
  display: block;
}

[dir="rtl"] .input-group {
  flex-direction: row-reverse;
}

[dir="rtl"] .btn {
  margin-left: 0;
  margin-right: 0.25rem;
}

[dir="rtl"] .btn:first-child {
  margin-right: 0;
}

/* RTL Support for DataTables */
[dir="rtl"] .rdt_TableHeader,
[dir="rtl"] .rdt_TableHeadRow,
[dir="rtl"] .rdt_TableRow {
  direction: rtl;
}

[dir="rtl"] .rdt_Pagination {
  direction: rtl;
}